.header {
  height: 4.5rem;
  background: #F3B73F;
  color: white;
}
.header .head_content {
  padding: 0.15rem;
  height: 0.15rem;
  text-align: center;
  line-height: 0.15rem;
  font-size: 0.15rem;
}
.header .head_content .btn_back {
  position: absolute;
}
.header .head_deivce {
  height: 4.05rem;
  text-align: center;
  position: relative;
}
.header .head_deivce .device_close {
  position: absolute;
  right: 0.2rem;
  top: 0.3rem;
  font-size: 0.35rem;
}
.header .head_deivce .device_temp {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.header .head_deivce span {
  position: absolute;
  font-size: 0.7rem;
  top: 0.4rem;
  left: 2.4rem;
}
.header .head_deivce .device_state {
  padding-top: 0.3rem;
  font-size: 0.16rem;
  letter-spacing: 0.022rem;
}
.header .head_deivce .device_state2 {
  width: 3.75rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .head_deivce .device_state2 div {
  width: 1.3rem;
  font-size: 0.16rem;
}
.header .head_deivce .device_btn_change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  padding-top: 0.3rem;
  font-size: 0.3rem;
}
.header .head_deivce .device_btn_change div {
  width: 0.39rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background: #F2BD51;
}
.content {
  height: 2.17rem;
  width: 3.75rem;
}
.content ul {
  padding: 0.15rem;
  height: 1.87rem;
}
.content ul li {
  height: 0.66rem;
  width: 0.66rem;
  margin: 0 0.1rem 0.28rem;
  float: left;
}
.content ul li .content_pic {
  background: #F2F2F2;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  font-size: 0.3rem;
  color: grey;
  text-align: center;
  line-height: 0.6rem;
}
.content ul li .content_info {
  text-align: center;
  margin-top: 0.05rem;
}
