.header {
  width: 3.75rem;
  background: #32A2F5;
  padding-bottom: 0.15rem;
}
.header #btn_back {
  position: absolute;
  color: white;
  font-size: 0.2rem;
  top: 0.15rem;
  left: 0.1rem;
}
.header .header_title {
  padding: 0.15rem;
  text-align: center;
  font-size: 0.2rem;
  color: white;
}
.header .search {
  margin: 0 0.15rem;
  background: #F2F2F2;
  border-radius: 0.2rem;
  padding: 0.05rem;
  display: flex;
  align-items: center;
}
.header .search .iconfont {
  font-size: 0.2rem;
}
.header .search input {
  flex: 1;
  border: none;
  background: #f2f2f2;
  padding-left: 0.1rem;
}
.content {
  position: fixed;
  height: 5.68rem;
  width: 3.75rem;
}
.content .left,
.content .right {
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
.content .left {
  width: 20%;
}
.content .left li {
  text-align: center;
  padding: 0.15rem 0.1rem;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.content .left .active {
  border-right: 0.02rem solid #32A2F5;
}
.content .right {
  width: 80%;
}
.content .right li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .right li .title {
  padding: 0.1rem;
  font-size: 0.2rem;
}
.content .right li .content_info li {
  float: left;
  display: flex;
  flex-direction: column;
  padding: 0.05rem;
}
.content .right li .content_info li img {
  width: 0.9rem;
  height: 0.9rem;
}
