.header{
    width: 3.75rem;
    background: #32A2F5;
    padding-bottom: 0.15rem;
    #btn_back{
        position: absolute;
        color: white;
        font-size: 0.2rem;
        top: 0.15rem;
        left: 0.1rem;
    }
    .header_title{
        padding: 0.15rem;
        text-align: center;
        font-size: 0.2rem;
        color: white;
    }
    .search{
        margin: 0 0.15rem;
        background: #F2F2F2;
        border-radius: 0.2rem;
        padding: 0.05rem;
        display: flex;
        align-items: center;
        .iconfont{
            font-size: 0.2rem;
        }
        input{
            flex: 1;
            border: none;
            background: #f2f2f2;
            padding-left: 0.1rem;
        }
    }
}

.content{
    position: fixed;
    height: 5.68rem;
    width: 3.75rem;
    .left, .right{
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    .left{
        width: 20%;
        li{
            text-align: center;
            padding: 0.15rem 0.1rem;
            border-bottom: 1px solid #dadada;
            border-right: 1px solid #dadada;
        }
        .active{
            border-right: 0.02rem solid #32A2F5;
        }
    }
    .right{
        width: 80%;
        li{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title{
                padding: 0.1rem;
                font-size: 0.2rem;
            }
            .content_info{
                border-bottom: 1px solid #cacaca;
                padding-bottom: 0.1rem;
                li{
                    float: left;
                    display: flex;
                    flex-direction: column;
                    padding: 0.05rem;
                    img{
                        width: 0.9rem;
                        height: 0.9rem;
                    }
                }
            }
        }
    }
}

